Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

poetry:
  name: poetry check
  entry: poetry check
  pass_filenames: false
  language: system

isort:
  name: isort (python)
  entry: poetry run isort .
  pass_filenames: false
  language: system

black:
  name: Black
  entry: poetry run black .
  pass_filenames: false
  language: system

fix: improve error handling of `like` and `comment`
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_like.py
Due: poetry, isort, black

build(deps): update aioqzone and aioqzone-feed
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry

feat(bot): prepare for bot api 7.0
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/interact/_like.py
  src/qzone3tg/app/storage/orm.py
Due: poetry, isort, black

docker(deps): do not install slide-tc
  .github/workflows/docker.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: poetry

test: fix solve_slide_captcha is forced
  src/qzone3tg/app/base/_hook.py
  test/test_conf.py
Due: isort, black

fix: set timeout for like operation in like button
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_like.py
Due: poetry, isort, black

feat: refresh button for comment list
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/types.py
Due: poetry, isort, black

feat: use buttons in /help
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

fix: refresh button is removed after clicked
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
Due: poetry, isort, black

fix: SerialCbData validate error
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_like.py
  src/qzone3tg/app/interact/types.py
Due: poetry, isort, black

build(deps): update aioqzone-feed
  poetry.lock
  pyproject.toml
Due: poetry

fix: comment not changed causes bad request
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
Due: poetry, isort, black

fix: bug in #296
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
Due: poetry, isort, black

fix: fix translation
  src/qzone3tg/app/interact/_like.py
Due: isort, black

test: add forward order test
  test/bot/test_queue.py
Due: isort, black

build(deps): update dependencies
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update deps
  poetry.lock
Due: none

fmt: new black stable styles
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/interact/_like.py
  src/qzone3tg/app/storage/orm.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
Due: isort, black

bump version
  pyproject.toml
Due: poetry

build(deps): use py312
  poetry.lock
  pyproject.toml
Due: poetry

ci: use py312
  .github/dependabot.yml
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
  pyproject.toml
Due: poetry

docker: merge #246
  docker/Dockerfile
Due: none

build(deps): merge #308, #309
  poetry.lock
  pyproject.toml
Due: poetry

chore: bump dependencies
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update deps
  .gitignore
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update aiogram
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): bump versions
  config/test.yml
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): merge #337, #338, #339
  .github/workflows/docker.yml
  poetry.lock
  pyproject.toml
Due: poetry

docker: fix dockerfile style
  docker/Dockerfile
Due: none

build(deps): merge #340 #341
  poetry.lock
  pyproject.toml
Due: poetry

Path conditions:
  poetry: any of: pyproject.toml
  isort: any of: \.py$
  black: any of: \.py$
