Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

fix: no comment causes /comment list break
  pyproject.toml
  src/qzone3tg/app/interact/_comment.py
Due: poetry, isort, black

ci: fix built image is not pushed
  .github/workflows/docker.yml
Due: none

refactor: move like & comment to seperate files
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_comment.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/interact/_like.py
  src/qzone3tg/app/interact/types.py
Due: poetry, isort, black

fix: remove deepcopy
  pyproject.toml
  src/qzone3tg/app/interact/_like.py
Due: poetry, isort, black

fix: invert button text
  pyproject.toml
  src/qzone3tg/app/interact/_like.py
Due: poetry, isort, black

fix: gather error in btn_comment
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
Due: poetry, isort, black

refactor: rename _messages to _hookspec
  poetry.lock
  pyproject.toml
  src/qzone3tg/_hookspec.py
  src/qzone3tg/_messages.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/bot/queue.py
  test/test_conf.py
Due: poetry, isort, black

fix: minor bugs
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/bot/splitter.py
Due: poetry, isort, black

fix(ui): no @ when at
  README.en.md
  README.md
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/splitter.py
Due: poetry, isort, black

doc(readme): fix translate links
  README.en.md
  README.md
Due: none

build(deps): update aioqzone to v1.7
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
  test/test_conf.py
Due: poetry, isort, black

ci: install all extras
  .github/workflows/docker.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
  src/zipapp.sh
Due: poetry, isort, black

fix: failed to export emoji
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

feat(login): add qr onekey login hook
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

feat(store): persist `pt_guid_sig`
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/app/storage/orm.py
  test/test_storage.py
Due: poetry, isort, black

fix: second ClientResponseError cannot stop hb
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
Due: poetry, isort, black

fix: eid not saved after reply ReplyKeyboard
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

build(deps): update chaosvm and aioqzone
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
Due: poetry, isort, black

doc: update example configs
  config/test.yml
  docker/docker-compose.yml
Due: none

fix: clear last_fail_cause when hb success
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
Due: poetry, isort, black

feat: ignore HTTP 500
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
  test/test_storage.py
Due: poetry, isort, black

doc: fix some text
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/settings.py
Due: isort, black

ci: bump setup-python to v5
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): downgrade pytest-asyncio
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update aioqzone and aioqzone-feed
  poetry.lock
  pyproject.toml
Due: poetry

docker: do not expose ports by default
  doc/source/quickstart.rst
  docker/Dockerfile
  docker/docker-compose.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/settings.py
Due: poetry, isort, black

bump version
  pyproject.toml
Due: poetry

ci: merge #285, #286
  .github/workflows/sphinx.yml
Due: none
