Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: poetry
        name: poetry lock
        entry: poetry lock -v
        pass_filenames: false
        language: system
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

fix: remove our own semaphore
  poetry.lock
  src/qzone3tg/app/base.py
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: isort, black

fix: set read_timeout along with write_timeout
  src/qzone3tg/bot/atom.py
Due: isort, black

feat: let connect_timeout controls qzone timeout
  src/qzone3tg/app/base.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/settings.py
Due: isort, black

ci: tag container with latest-beta
  .github/workflows/docker.yml
Due: none

fix ci python version
  .github/dependabot.yml
  .github/workflows/test.yml
Due: none

docker: use node 16
  docker/Dockerfile
Due: none

fix: init tasks are not wrapped with task/future
  src/qzone3tg/app/base.py
Due: isort, black

docker: remove set PATH in build stage
  docker/Dockerfile
  pyproject.toml
Due: poetry

docker: remove latest-beta tag
  .github/workflows/docker.yml
Due: none

doc(readme): set zh-cn readme as default
  README.en.md
  README.md
  README.zh-cn.md
Due: none

fix: bug in `/like` and `/em export`
  poetry.lock
  src/qzone3tg/app/interact.py
Due: isort, black

fix!: fix /start not async
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/pack.py
  src/qzone3tg/app/base.py
  src/qzone3tg/app/interact.py
Due: poetry, isort, black

fix: enhance exc handling in fetch
  pyproject.toml
  src/qzone3tg/app/base.py
Due: poetry, isort, black

ci: use $GITHUB_OUTPUT
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

proj!: migrate to sqlalchemy 2.0
  .github/workflows/docker.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base.py
  src/qzone3tg/app/interact.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/app/storage/orm.py
  src/qzone3tg/bot/queue.py
  test/test_storage.py
Due: poetry, isort, black

feat(sql): check and refresh cookie schema
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/loginman.py
Due: poetry, isort, black

fix!: sqlalchemy error in SaveFeed hook
  .gitignore
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/storage/__init__.py
  test/test_storage.py
Due: poetry, isort, black

proj: install 3rd party dependencies
  poetry.lock
  pyproject.toml
Due: poetry

ci: use dynamic pr template
  .github/workflows/ci.yml
Due: none

feat: add a tag for resent message
  src/qzone3tg/app/hook.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
Due: isort, black

bump version
  pyproject.toml
Due: poetry

feat!: check for duplicated feed
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/queue.py
Due: poetry, isort, black

doc: more Q&A
  doc/source/reference.rst
Due: none

fix: dup feed not dropped under some condition
  pyproject.toml
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: poetry, isort, black

docker: use node18 in dockerfile
  docker/Dockerfile
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/storage/orm.py
Due: poetry, isort, black

ci: remove beta tag in docker build
  .github/workflows/docker.yml
  pyproject.toml
Due: poetry

proj: update aioqzone
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: poetry

fix: test failed by immutable TelgramObject
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/limitbot.py
  test/bot/__init__.py
Due: poetry, isort, black

ci: use repo-sync/pull-request v2.9
  .github/workflows/ci.yml
Due: none

docker: try to build npm package in build stage
  cliff.toml
  docker/Dockerfile
  package-lock.json
  src/pack.py
Due: isort, black

refactor!:seperate interact app logic into package
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base.py
  src/qzone3tg/app/interact.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/bot/__init__.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/limitbot.py
  src/qzone3tg/bot/queue.py
  test/bot/test_tasker.py
Due: poetry, isort, black

test: fix test_hook_class
  test/test_conf.py
Due: isort, black

fix: wrong reply_markup hook
  src/qzone3tg/app/interact/_button.py
Due: isort, black

feat(cmd): re-add `/em` command
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

feat(ui): improve emoji customize process
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

fix: wrong assert on `context.user_data`
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

feat: upsample the fetched emoji photo
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

doc(readme): fix badges
  README.en.md
  README.md
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

fix: glitches in markdown messages
  package-lock.json
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

proj(deps): update deps
  .pre-commit-config.yaml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: poetry
