Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

fix: valid input handler has wrong filter condition
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

feat: support multi-select
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_hook.py
  test/test_conf.py
Due: poetry, isort, black

fix!: feeds are not added to queue
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

feat: use const loginman as loginman
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

feat: add some log point
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

fix: caption_entities not set correctly
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/atom.py
Due: poetry, isort, black

fix: reply_markup hook not applied
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_hook.py
  test/test_conf.py
Due: poetry, isort, black

fix: like button got wrong text
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_button.py
Due: poetry, isort, black

build(deps): update aioqzone to v1.5.3
  poetry.lock
  pyproject.toml
Due: poetry

fix: HttpUrl cannot be used for instance check
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/bot/splitter.py
Due: poetry, isort, black

fix: asyncio.gather do not accept TelegramMethod
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/bot/splitter.py
Due: isort, black

build(deps): update aioqzone-feed
  poetry.lock
  pyproject.toml
Due: poetry

feat: delete input prompt conversation
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

fix: delete all media groups
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

ci: build with beta tag
  .github/workflows/auto-pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
Due: none

doc: update documents and examples
  doc/source/conf.py
  doc/source/config/bot.rst
  doc/source/config/qzone.rst
  doc/source/reference.rst
  doc/source/usage.rst
  docker/docker-compose.yml
  pyproject.toml
  src/qzone3tg/settings.py
Due: poetry, isort, black

fix: wrong assertion in queue
  pyproject.toml
  src/qzone3tg/bot/queue.py
Due: poetry, isort, black

ci: bump docker actions
  .github/workflows/docker.yml
Due: none

ci: install poetry explicitly
  .github/workflows/docker.yml
Due: none

ci: bump docker actions (#254)
  .github/workflows/docker.yml
Due: none

fix: minor fixes
  pyproject.toml
  src/qzone3tg/__init__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
Due: poetry, isort, black

refactor: group loginman related functions
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/storage/loginman.py
  test/test_conf.py
  test/test_storage.py
Due: poetry, isort, black

fix: wrong references in qr button
  config/test.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
Due: poetry, isort, black

fix: fix BadRequest message retry filter
  pyproject.toml
  src/qzone3tg/bot/queue.py
Due: poetry, isort, black

fix: wrong case in message filter
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: isort, black

bump version
  poetry.lock
  pyproject.toml
Due: poetry

refactor: use hook to load dynamic blockset
  pyproject.toml
  src/qzone3tg/_messages.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
Due: poetry, isort, black

feat!: add /comment command
  doc/source/usage.rst
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_comment.py
Due: poetry, isort, black

fix: hook init order
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

bump versions
  poetry.lock
Due: none

ci: fix wrong docker build context when merged
  .github/workflows/docker.yml
Due: none

fix: no comment causes /comment list break
  pyproject.toml
  src/qzone3tg/app/interact/_comment.py
Due: poetry, isort, black
