Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: poetry
        name: poetry lock
        entry: poetry lock -v
        pass_filenames: false
        language: system
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

ci!: redesigned workflows for ci
  .github/workflows/auto-pr.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
Due: none

ci: fix cannot setup actions
  .github/workflows/auto-pr.yml
Due: none

ci: fix test.yml wrong python-version
  .github/workflows/test.yml
Due: none

ci: dry-run build.yml on ready_for_review
  .github/workflows/docker.yml
Due: none

doc(readme): remove ci badge
  README.en.md
  README.md
Due: none

fix: error when send `/em export`
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

refactor: simplify code by saving message object in user_data
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

fix: inline keyboard removed after custom emoji
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

ci: fix version is output to wrong env file
  .github/workflows/docker.yml
Due: none

docker: fix pack.py
  .dockerignore
  .github/workflows/docker.yml
  docker/.dockerignore
  poetry.lock
  pyproject.toml
  src/pack.py
Due: poetry, isort, black

fix: wrong lockfile path passed to pack.py
  docker/Dockerfile
Due: none

docker: rewrite zipapp function with shell
  .gitignore
  docker/.dockerignore
  docker/Dockerfile
  src/pack.py
  src/zipapp.sh
Due: isort, black

docker: fix `aiolimiter` & `apscheduler` need metadata at runtime
  src/zipapp.sh
Due: none

fix!: cookie storage ignored critical field
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/app/storage/orm.py
  test/test_storage.py
Due: poetry, isort, black

update aioqzone-feed
  poetry.lock
  pyproject.toml
Due: poetry

ci: remove package `beta` tag
  .github/workflows/docker.yml
Due: none

proj: change dependabot check frequency
  .github/dependabot.yml
  poetry.lock
  pyproject.toml
Due: poetry

feat: relogin in baseapp heartbeat failed
  src/qzone3tg/app/base.py
  src/qzone3tg/app/interact/__init__.py
Due: isort, black

feat: do not suppress up login if uplogin success
  .github/workflows/docker.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/bot/__init__.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/limitbot.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/settings.py
  test/bot/__init__.py
  test/bot/test_queue.py
  test/test_conf.py
  test/test_login.py
Due: poetry, isort, black

refactor!: remove limitbot.py
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/__init__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/bot/__init__.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/limitbot.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  test/bot/__init__.py
  test/bot/test_atom.py
  test/bot/test_queue.py
  test/bot/test_splitter.py
  test/bot/test_tasker.py
  test/test_conf.py
  test/test_login.py
  test/test_storage.py
Due: poetry, isort, black

ci: test build docs on review requested
  .github/workflows/sphinx.yml
Due: none

ci: change docker rebuild label
  .github/workflows/docker.yml
Due: none

proj: aioqzone v12
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/settings.py
  test/test_conf.py
  test/test_login.py
  test/test_storage.py
Due: poetry, isort, black

fix: send_{media} got unexpected arg media
  pyproject.toml
  src/qzone3tg/bot/atom.py
Due: poetry, isort, black

ci: concurrency for docker build
  .github/workflows/docker.yml
Due: none

fix: send_{media} got unexpected args
  .github/workflows/docker.yml
  pyproject.toml
  src/qzone3tg/bot/atom.py
Due: poetry, isort, black

ci: manually trigger docker build
  .github/workflows/docker.yml
Due: none

fix: wrong match type
  src/qzone3tg/bot/queue.py
Due: isort, black

build(deps): update dependencies
  poetry.lock
  pyproject.toml
Due: poetry

feat: remove emoji upsample
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/storage/loginman.py
  test/test_login.py
Due: isort, black

fix!: qzone hook and dispatch tasksets not wait
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
Due: poetry, isort, black

ci: add run condtion for docker build action
  .github/workflows/docker.yml
Due: none

feat: test h5 api
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/app/storage/orm.py
  src/qzone3tg/bot/splitter.py
  test/bot/__init__.py
  test/test_conf.py
Due: poetry, isort, black

feat: minor improvements
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

docker: add package description
  docker/Dockerfile
Due: none

feat: add block command
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/blockset.py
  src/qzone3tg/app/storage/orm.py
  test/test_conf.py
  test/test_storage.py
Due: poetry, isort, black
