Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: poetry
        name: poetry lock
        entry: poetry lock -v
        pass_filenames: false
        language: system
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

fix: reply message not found in send_atom
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: poetry, isort, black

deps(node)!: remove nodejs
  .github/dependabot.yml
  .github/workflows/test.yml
  README.en.md
  README.md
  doc/source/build.rst
  docker/.dockerignore
  docker/Dockerfile
  package-lock.json
  package.json
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/settings.py
Due: poetry, isort, black

doc: sphinx 7, use furo theme
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: poetry, isort, black

ci: fix permissions for upload-pages-artifact@v2
  .github/workflows/sphinx.yml
Due: none

refactor!: before aioqzone v1
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/app/storage/orm.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
  test/bot/__init__.py
  test/bot/test_queue.py
  test/test_conf.py
  test/test_login.py
  test/test_storage.py
Due: poetry, isort, black

build(deps): use aiogram as backend
  poetry.lock
  pyproject.toml
Due: poetry

fix(bot)!: refactor bot package to use aiogram
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/bot/__init__.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
  test/bot/__init__.py
  test/bot/test_atom.py
  test/bot/test_queue.py
  test/bot/test_splitter.py
Due: isort, black

refactor!: rewrite with aiogram
  poetry.lock
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/bot/__init__.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
Due: poetry, isort, black

refactor: rewrite base hooks
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
Due: isort, black

refactor: rewrite interact hooks
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/interact/types.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/orm.py
  test/conftest.py
Due: poetry, isort, black

refactor: rewrite based on aiogram style
  config/test.yml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/app/interact/_hook.py
  src/qzone3tg/app/interact/types.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
  src/qzone3tg/type.py
  test/bot/__init__.py
  test/bot/test_atom.py
  test/bot/test_queue.py
  test/bot/test_splitter.py
  test/test_conf.py
  test/test_storage.py
Due: isort, black

refactor: remove default settings
  config/test.yml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/settings.py
Due: isort, black

fix: inits
  config/test.yml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/settings.py
  test/test_conf.py
Due: isort, black

fix: splitter bugs after refactor
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/splitter.py
  test/bot/test_splitter.py
Due: isort, black

fix: MessageOrm not created
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/storage/__init__.py
  test/test_storage.py
Due: isort, black

fix: wrong atom meth
  src/qzone3tg/bot/atom.py
Due: isort, black

fix(queue): fix deadlock
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: isort, black

fmt: bump version
  poetry.lock
  pyproject.toml
  test/bot/test_queue.py
Due: poetry, isort, black

feat: add basic error handling for fetch and hb
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
Due: isort, black

refactor: update error handler
  src/qzone3tg/app/base/__init__.py
Due: isort, black

fix: Text.as_kwargs in media sending
  src/qzone3tg/__main__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/_conversation/emoji.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/settings.py
Due: isort, black

refactor: rename partial to atom
  pyproject.toml
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  test/bot/test_atom.py
  test/bot/test_splitter.py
Due: poetry, isort, black

refactor: retry with tenacity
  src/qzone3tg/bot/queue.py
Due: isort, black

feat: add shortcut to reply_to_message_id
  poetry.lock
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/queue.py
Due: isort, black

ci: build docker with alpha tag
  .github/workflows/docker.yml
  poetry.lock
  pyproject.toml
Due: poetry

fix: webhook not deleted on stop
  src/qzone3tg/app/base/__init__.py
Due: isort, black

fix: callback data type not seen
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: isort, black

bump version
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

fix: webhook config not read
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/settings.py
  test/test_conf.py
Due: poetry, isort, black

fix: webhook root is not a path
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/settings.py
  test/test_conf.py
Due: poetry, isort, black

fix: webhook & polling is blocked
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/settings.py
  test/conftest.py
Due: poetry, isort, black

fix: error when registering routers
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

docker: set timezone
  docker/Dockerfile
Due: none

fix: tasks wait error
  src/qzone3tg/app/base/__init__.py
  test/test_conf.py
Due: isort, black

fix: Block table not created
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
  test/test_conf.py
Due: poetry, isort, black

fix: wrong secret_token
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/settings.py
Due: isort, black

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
Due: poetry

feat!: support select captcha
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

feat: add debug log point in `input`
  cliff.toml
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

fix: input handler has wrong filter conditions
  pyproject.toml
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black
