Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

poetry:
  name: poetry check
  entry: poetry check
  pass_filenames: false
  language: system

isort:
  name: isort (python)
  entry: poetry run isort .
  pass_filenames: false
  language: system

black:
  name: Black
  entry: poetry run black .
  pass_filenames: false
  language: system

build(deps): merge #340 #341
  poetry.lock
  pyproject.toml
Due: poetry

doc: change tab provider
  doc/source/conf.py
  doc/source/config/index.rst
  poetry.lock
  pyproject.toml
Due: poetry, isort, black

doc: update dependencies
  doc/source/usage.rst
  poetry.lock
  pyproject.toml
Due: poetry

build(deps): update aiogram
  poetry.lock
  pyproject.toml
Due: poetry

refactor: migrate to pytest-asyncio 0.24
  poetry.lock
  pyproject.toml
  test/bot/test_atom.py
  test/bot/test_splitter.py
  test/conftest.py
  test/test_conf.py
  test/test_storage.py
Due: poetry, isort, black

test: fixes oriented to pytest-asyncio 0.24
  pyproject.toml
  test/bot/test_atom.py
  test/bot/test_queue.py
  test/bot/test_splitter.py
  test/conftest.py
  test/test_conf.py
  test/test_storage.py
Due: poetry, isort, black

doc(readme): fix badge
  README.en.md
  README.md
Due: none

doc(readme): add badge
  README.en.md
  README.md
Due: none

build(deps): update to py313
  poetry.lock
  pyproject.toml
Due: poetry

ci: use py313
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
Due: none

docker: use py313
  docker/Dockerfile
Due: none

some memray annotations
  .gitignore
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
Due: poetry, isort, black

perf(deps): update aioqzone and qzemoji
  README.en.md
  README.md
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: poetry, isort, black

fix: update aioqzone
  poetry.lock
  pyproject.toml
Due: poetry

build!: switch to uv
  .github/workflows/docker.yml
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  doc/source/build.rst
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/qzone3tg/app/interact/_block.py
  src/zipapp.sh
  uv.lock
Due: poetry, isort, black

ci: fix pytest is not installed in test workflow
  .github/workflows/test.yml
Due: none

build: fix some minor bugs
  .github/workflows/docker.yml
  .github/workflows/sphinx.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  uv.lock
Due: poetry

build!: update target python version
  pyproject.toml
  uv.lock
Due: poetry

docker: update python version
  docker/Dockerfile
Due: none

chore: clarify license
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry

chore: update python version in ci, doc, dockerfile
  .github/workflows/test.yml
  doc/source/conf.py
  docker/Dockerfile
Due: isort, black

build(deps): update dependencies, fixing security vulnerabilities
  pyproject.toml
  uv.lock
Due: poetry

fix: emoji database not closed
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  test/conftest.py
  uv.lock
Due: poetry, isort, black

ci: add workflow for updating uv deps
  .github/dependabot.yml
  .github/workflows/test.yml
  .github/workflows/update-uv-deps.yml
Due: none

fix: fix typo along with aioqzone
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/comment.py
  src/qzone3tg/app/interact/_like.py
  src/qzone3tg/app/storage/orm.py
  uv.lock
Due: poetry, isort, black

ci: redirect daily uv deps to deps/uv branch, manual trigger creates PR
  .github/workflows/update-uv-deps.yml
Due: none

chore(deps): update dependencies (#441)
  uv.lock
Due: none

Path conditions:
  poetry: any of: pyproject.toml
  isort: any of: \.py$
  black: any of: \.py$
