Repository aioqzone/Qzone2TG: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, isort, black

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: "pyproject.toml"
      - id: poetry
        name: poetry lock
        entry: poetry lock -v
        pass_filenames: false
        language: system
      - id: isort
        name: isort (python)
        entry: poetry run isort .
        pass_filenames: false
        language: system
        types: [python]
      - id: black
        name: Black
        entry: poetry run black .
        pass_filenames: false
        language: system
        types: [python]
      # - id: pytest
      #   name: pytest-check
      #   entry: poetry run pytest test
      #   language: system
      #   pass_filenames: false
      #   types: [python]
default_language_version:
  python: python3

fix: wrong hb timer path in /status
  src/qzone3tg/app/base/__init__.py
Due: isort, black

refactor!: fix forward feed not saved
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/storage/__init__.py
  src/qzone3tg/app/storage/orm.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/bot/splitter.py
  src/qzone3tg/settings.py
  src/qzone3tg/type.py
  test/bot/__init__.py
  test/bot/test_atom.py
  test/bot/test_queue.py
Due: poetry, isort, black

fix(fetch): try to catch exceptiongroup
  package.json
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
Due: poetry, isort, black

chore: new git-cliff config
  cliff.toml
Due: none

fix!: FeedProcEnd maximum recursion depth exceeded
  pyproject.toml
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

test: relock package-lock.json
  package-lock.json
Due: none

build(pack): fix *.so.* libs not recognized
  src/zipapp.sh
Due: none

fix: empty message when /block list
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/storage/blockset.py
Due: isort, black

fix!: bugs in new queue
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: poetry, isort, black

fix: wrong heartbeat access path
  poetry.lock
  pyproject.toml
  src/qzone3tg/__main__.py
  src/qzone3tg/app/base/__init__.py
  test/test_login.py
Due: poetry, isort, black

fix(hook): avoid duplicate delete of qr message
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
Due: poetry, isort, black

fix: avoid error caused by hook race
  .pre-commit-config.yaml
  config/test.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/bot/queue.py
  src/qzone3tg/settings.py
  src/qzone3tg/type.py
Due: poetry, isort, black

doc: update command help
  doc/source/usage.rst
Due: none

feat: make share url the first url entity
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/storage/loginman.py
  src/qzone3tg/bot/atom.py
  src/qzone3tg/bot/splitter.py
Due: poetry, isort, black

fix: try to fix reply_markup not generated
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/__init__.py
  src/qzone3tg/app/interact/_block.py
  src/qzone3tg/app/interact/_button.py
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

feat: improve error handling
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

docker: test alpine package
  docker/Dockerfile
  docker/Dockerfile.slim
Due: none

fix: heartbeat failed is treated as login loss
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/base/__init__.py
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/app/interact/_hook.py
Due: poetry, isort, black

docker: fix build stage copy source
  docker/Dockerfile
Due: none

fix:translate html escapes when stringify entities
  src/qzone3tg/app/base/_hook.py
  src/qzone3tg/bot/splitter.py
Due: isort, black

docker: fix bash not availible in alpine
  cliff.toml
  docker/Dockerfile
  src/zipapp.sh
Due: none

docker: fix build stage copy destination
  docker/Dockerfile
Due: none

build(deps): remove sleep from deps
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: poetry

give up alpine
  docker/Dockerfile
  docker/Dockerfile.slim
Due: none

docker: try remove build-essential in build stage
  docker/Dockerfile
Due: none

docker: seperate npm and pack in build stage
  docker/Dockerfile
  src/zipapp.sh
Due: none

docker: roll back to bash
  docker/Dockerfile
  src/zipapp.sh
Due: none

docker: rollback pythonpath
  docker/Dockerfile
  src/zipapp.sh
Due: none

feat: seperate message for QzoneError
  poetry.lock
  pyproject.toml
  src/qzone3tg/__init__.py
  src/qzone3tg/app/base/__init__.py
Due: poetry, isort, black

build(deps): update aioqzone
  poetry.lock
  pyproject.toml
Due: poetry

feat: add reply for `/em export`
  poetry.lock
  pyproject.toml
  src/qzone3tg/app/interact/_conversation/emoji.py
Due: poetry, isort, black

bump version
  pyproject.toml
Due: poetry

feat: support `LinkEntity`
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/splitter.py
Due: poetry, isort, black

fix: reply message not found in send_atom
  poetry.lock
  pyproject.toml
  src/qzone3tg/bot/queue.py
  test/bot/test_queue.py
Due: poetry, isort, black
